
#cast-section{
  grid-area: cast;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  align-items: center;

  @media screen and (max-width: 800px) {
    display: none;
  }

  .cast-pane{
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 1fr auto;

    grid-template-columns: auto;
    grid-template-areas:
    "cast-pic"
    "cast-name";
    margin: 0px 15px;
    // background-color: red;


    .cast-pic{
      $val: 200px;
      height: $val;
      width: $val;

      border: 5px solid black;
      border-radius: 50%;
      object-fit: none;
      // object-position: 60% 20%;
      grid-area: cast-pic;
      box-shadow: 7.5px 7.5px 7.5px rgb(90, 90, 90);
    }

    .cast-actor{
      grid-area: cast-name;
      font-size: 1rem;
      justify-self:center;
      align-self: center;
      // height: 45px;
      // color: black;
      // background-color: rgba(209, 205, 199, 0.73);
    }


  }



}
