.App{
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 50px calc(100vh/1.5) auto;

  // background-color: pink;

  grid-template-areas:
  "search ."
  "result info"
  "result cast";


  @media screen and (max-width: 800px) {
    // background-color: red;

    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 2fr auto;
    grid-row-gap: 20px;
    grid-template-areas:
    "search"
    "result"
    "info"
    "cast";
  }

}
