#result-section{
  grid-area: result;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .result-pic{
      align-self: center;
      margin-top: 25px;
      box-shadow: 10px 10px 6px rgb(90, 90, 90);

      @media screen and (max-width: 800px) {
        margin: 0 10px;
      }
  }


  @media screen and (max-width: 800px) {
    flex-direction: row;
  }
}
