#search-results{
    grid-column: 1;
//     grid-row: 2;
//     background-color: darkkhaki;
//     height: 600px;
//     width: 200px;

    #mini-result{
        // grid-column: 1;
        background-color: rgb(248, 248, 248);
        height: 100px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid darkgray;
        padding: 5px;

        img{
            height: inherit;
            width: auto;
        }

        #mini-info{
            height: inherit;
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}