#search-results{
        grid-area: 'results';
    width: 25vw;

    #mini-result{
        // grid-column: 1;
        background-color: rgb(248, 248, 248);
        height: 100px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid darkgray;
        padding: 5px;

        img{
            height: inherit;
            width: auto;
        }

        #mini-info{
            height: inherit;
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}