#info-pane{
  grid-area: info;

  @media screen and (max-width: 800px) {
      overflow-y: auto;

      grid-template-columns: 1fr;
      grid-row-gap: 15px;

      grid-template-areas:
      "pic "
      "title"
      "director"
      "plot";

  }

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 0.5fr 3fr;


  grid-template-areas:
  "pic title"
  "pic director"
  "pic plot";

  #info-title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 75%;

    @media screen and (max-width: 800px) {
        place-self: center;
    }


  }

  #info-plot{
    grid-area: plot;
    font-size: 1.5em;
    place-self: start;
    width: 75%;

    @media screen and (max-width: 800px) {
        place-self: center;
    }

  }

  #info-director{
    grid-area: director;
    font-size: 1.5em;
    width: 75%;

    @media screen and (max-width: 800px) {
        place-self: center;
    }


  }

  #info-pic{
    grid-area: pic;
    height: 95%;
    align-self: center;
    justify-self: center;
    box-shadow: 10px 10px 6px rgb(90, 90, 90);

    @media screen and (max-width: 800px) {
      height: auto
    }
  }


}
