#info-pane{
    grid-area: 'info';
    height: 100vh;
    background-color: rgb(5, 207, 113);

    #info-top{
        background-color: rgb(240, 71, 169);
        display: flex;
        flex-direction: row;
        // height: auto;
        // width: auto;
    }

    #info-bottom{
        background-color: cornsilk;
        height: auto;
        width: auto;
    }

}