// #search-container{

  input{
    grid-area: search;
    width: 90%;
    justify-self: center;
    align-self: end;
    background: white url(./searchIcon.svg) right no-repeat;
    &:focus{
        outline: none;
    }
    padding: 10px 15px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(145, 145, 145);

  }
// }
